<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <bean id="databaseUploader" class="uk.co.epii.conservatives.henryaddington.DatabaseUploader">
        <property name="createScriptLocation" value="/createAddressBaseTables.sql" />
        <property name="database" value="frederickNorth" />
        <property name="username" value="jrrpl" />
        <property name="passwordLocation" value="/Users/jrrpl/.passwords/frederickNorth.txt" />
        <property name="driver" value="com.mysql.jdbc.Driver"/>
        <property name="server" value="localhost"/>
        <property name="port" value="3306"/>
        <property name="recordIdentiferTableMap">
            <map>
                <entry key="28" value="DeliveryPointAddress"/>
                <entry key="21" value="BLPU"/>
                <entry key="32" value="Classification"/>
            </map>
        </property>
        <property name="files">
            <list>
                <value>~/frederickNorth/THH/AddressBasePremium/AddressBasePremium_FULL_2013-08-06_001.csv</value>
                <value>~/frederickNorth/THH/AddressBasePremium/AddressBasePremium_FULL_2013-08-06_002.csv</value>
                <value>~/frederickNorth/THH/AddressBasePremium/AddressBasePremium_FULL_2013-08-06_003.csv</value>
            </list>
        </property>
    </bean>

    <bean id="hibernatePrinter" class="uk.co.epii.conservatives.henryaddington.hibernate.HibernatePrinter">
        <property name="javaDirectory"
                  value="~/git/politics/williamCavendishBentinck/src/main/java/uk/co/epii/politics/williamCavendishBentinck/tables"/>
        <property name="hibernateDirectory"
                  value="~/git/politics/williamCavendishBentinck/src/main/resources/tables"/>
        <property name="javaPackage" value="uk.co.epii.politics.williamcavendishbentinck.tables" />
        <property name="javaImports">
            <list>
                <value>java.sql.Date</value>
                <value>java.sql.Blob</value>
            </list>
        </property>
    </bean>

    <bean id="hibernateBuilder" class="uk.co.epii.conservatives.henryaddington.hibernate.HibernateBuilder">
        <property name="resource" value="/createAddressBaseTables.sql" />
        <property name="hibernatePrinter" ref="hibernatePrinter"/>
    </bean>

    <bean id="voaDownloader" class="uk.co.epii.conservatives.henryaddington.voa.VOADownloader">
        <property name="voaUri" value="http://www.voa.gov.uk/cti/RefS.asp?lcn=0"/>
        <property name="advancedSearchFormId" value="frmRefSForm"/>
        <property name="localAuthoritySelectId" value="lstBA"/>
        <property name="councilTaxBandsSelectId" value="lstBand"/>
        <property name="saveLocationRoot" value="~/frederickNorth/voa/"/>
        <property name="paginationSelectId" value="lstPageSize"/>
        <property name="sleepBetweenPageRequests" value="1000"/>
        <property name="paginate" value="50"/>
        <property name="resultsTableTitle" value="Search results"/>
    </bean>

    <bean id="databaseSession" class="uk.co.epii.politics.williamcavendishbentinck.DatabaseSessionImpl" init-method="init">
        <property name="connection" value="jdbc:mysql://localhost/frederickNorth"/>
        <property name="username" value="frederickNorth"/>
        <property name="password" value="frederickNorth1"/>
    </bean>

    <bean id="dwellingLoader" class="uk.co.epii.conservatives.henryaddington.voa.DwellingLoaderImpl">
        <property name="databaseSession" ref="databaseSession"/>
    </bean>

    <bean id="postcodeMatcher" class="uk.co.epii.spencerperceval.data.PostcodeMatcher" init-method="init" />

    <bean id="postcodeLoader" class="uk.co.epii.conservatives.henryaddington.voa.PostcodeLoaderImpl">
        <property name="postcodeMatcher" ref="postcodeMatcher"/>
        <property name="databaseSession" ref="databaseSession" />
        <property name="postcodesFolder" value= "~/frederickNorth/Data/codepo_gb/Data/CSV" />
    </bean>

    <bean id="voaUploader" class="uk.co.epii.conservatives.henryaddington.voa.VOAUploader">
        <property name="dwellingsFolder" value= "~/frederickNorth/Data/dwellings" />
        <property name="dwellingLoader" ref="dwellingLoader" />
        <property name="databaseSession" ref="databaseSession" />
        <property name="searchRadius" value="100"/>
        <property name="postcodeLoader" ref="postcodeLoader"/>
    </bean>
</beans>